<div class="twelve columns">
    <div>
        <div color="primary">
            <span>Executive List</span>
            <span class="fill-width"></span>
        </div>
        <br>
        <div>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>First</th>
                        <th>Last</th>
                        <th>Uni</th>
                        <th>StudentID</th>
                        <th>Type</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let executive of executiveMembers | async">
                        <td>
                            {{(executive.member | async)?.firstname}}
                        </td>
                        <td>
                            {{(executive.member | async)?.lastname}}
                        </td>
                        <td>
                            {{(executive.member | async)?.university}}
                        </td>
                        <td>
                            {{(executive.member | async)?.studentid}}
                        </td>
                        <td>
                            {{(executive.member | async)?.type}}
                        </td>
                        <td>
                            {{(executive.member | async)?.email}}
                        </td>
                        <td>
                            {{(executive.member | async)?.phone}}
                        </td>
                        <td>
                            <input type="text" [(ngModel)]="executive.position">
                        </td>
                        <td>
                            <button color="primary" (click)="savePosition(executive.$key, executive.position)">Save</button>
                        </td>
                        <td>
                            <button color="warn" (click)="remove(executive.$key)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!hasExecutive">
                <h6>No entries to show</h6>
            </div>
        </div>
    </div>
</div>