<div class="nine columns">
    <div>
        <div color="primary">
            <span>Payments</span>
            <span class="fill-width"></span>
            <button (click)="add()">+ Add Payment</button>
        </div>
        <br>
        <div>
            <div style="overflow:scroll;">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Payer
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Bank Ref
                            </th>
                            <th>
                                Type
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover" *ngFor="let payment of payments | async" (click)="select(payment)">
                            <td>
                                {{payment.$key}}
                            </td>
                            <td>
                                {{payment.date}}
                            </td>
                            <td>
                                {{(payment.memberObject | async)?.firstname}} {{(payment.memberObject | async)?.lastname}}
                            </td>
                            <td>
                                {{payment.amount}}
                            </td>
                            <td>
                                {{payment.bankreference}}
                            </td>
                            <td>
                                {{payment.type}}
                            </td>
                        </tr>
                    </tbody>
                    <div *ngIf="!hasPayments">
                        <p>No payments to show</p>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>
<app-edit-payment class="three columns" [payment]="selectedPayment" [memberID]=""></app-edit-payment>