<md-toolbar>
    <span>SUDO Membership Management</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-width"></span>

    <!--Unauthenticated Menu-->
    <span *ngIf="auth === null">
        <button md-button routerLink="login" routerLinkActive="active">Login</button>
        <button md-button routerLink="register" routerLinkActive="active">Register</button>
     </span>

    <!--Authenticated Menu-->
    <span *ngIf="auth">
        <button md-button color="primary" routerLink="members" routerLinkActive="active">Members</button>
        <button md-button color="primary" routerLink="executive" routerLinkActive="active">Executive</button>
        <button md-button color="primary" routerLink="payments" routerLinkActive="active">Payments</button>
        <h6 style="display:inline;" *ngIf="auth.providerData !== undefined" >Signed in as {{auth.auth.email}}</h6>
        <button md-button color="warn" (click)="logout()">Logout</button>
    </span>
</md-toolbar>
<div>
    <router-outlet></router-outlet>
</div>
