<nav>
    <div class="nav-wrapper">
        <a href="" class="brand-logo center">UC SUDO</a>

        <!--Unauthenticated Menu-->
        <ul *ngIf="authState === null" id="nav-mobile" class="right">
            <li routerLink="login" routerLinkActive="active"><a>Login</a></li>
        </ul>

        <!--Authenticated Menu-->
        <ul *ngIf="authState && ((memberInfo|async)?.memberObject|async)?.executive" class="left">
            <li routerLink="members" routerLinkActive="active"><a>Members</a></li>
            <li routerLink="executive" routerLinkActive="active"><a>Executive</a></li>
            <li routerLink="payments" routerLinkActive="active"><a>Payments</a></li>
        </ul>
        <ul *ngIf="authState" class="right">
            <li routerLink="profile" routerLinkActive="active"><a>{{authState.auth.email}}</a></li>
            <li><a color="warn" (click)="logout()" class="waves-effect waves-light btn">Logout</a></li>
        </ul>
    </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>