<div class="container">
    <h4>{{title}}</h4>
</div>
<div class="container">
    <div class="row">
        <table class="highlight">
            <thead>
                <tr>
                    <th>First</th>
                    <th>Last</th>
                    <th>StudentID</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let executive of executiveMembers | async">
                    <td>
                        {{(executive.member | async)?.firstname}}
                    </td>
                    <td>
                        {{(executive.member | async)?.lastname}}
                    </td>
                    <td>
                        {{(executive.member | async)?.studentid}}
                    </td>
                    <td>
                        {{(executive.member | async)?.email}}
                    </td>
                    <td>
                        {{(executive.member | async)?.phone}}
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="executive.position">
                    </td>
                    <td>
                        <span materialize="tooltip" data-position="top" data-delay="50" data-tooltip="Save">
                            <button class="btn-flat" (click)="savePosition(executive.$key, executive.position)">
                                <i class="material-icons blue-text text-darken-5">save</i>
                            </button>
                        </span>
                    </td>
                    <td>
                        <span materialize="tooltip" data-position="top" data-delay="50" data-tooltip="Remove">
                            <button class="btn-flat" (click)="remove(executive.$key)">
                                <i class="material-icons red-text text-darken-5">delete</i>
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!hasExecutive">
            <h6>No entries to show</h6>
        </div>
    </div>
</div>