/* You can add global styles to this file, and also import other style files */
@import '~skeleton-css/css/normalize.css';
@import '~skeleton-css/css/skeleton.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.fill-width {
  /* This fills the remaining space, by using flexbox. 
  Every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.hover:hover {
    background: rgba(103, 58, 183, 0.12);
    cursor: pointer;
}