<div>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h5>{{title}}</h5>
            </div>
            <div class="col s6 right-align">
                <a class="waves-effect waves-light btn" (click)="add()">Add Member</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>
                            First
                        </th>
                        <th>
                            Last
                        </th>
                        <th>
                            Uni
                        </th>
                        <th>
                            StudentID
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Exec
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover" *ngFor="let member of members | async" (click)="select(member)">
                        <td>
                            {{member.firstname}}
                        </td>
                        <td>
                            {{member.lastname}}
                        </td>
                        <td>
                            {{member.university}}
                        </td>
                        <td>
                            {{member.studentid}}
                        </td>
                        <td>
                            {{member.type}}
                        </td>
                        <td>
                            {{member.email}}
                        </td>
                        <td>
                            {{member.phone}}
                        </td>
                        <td>
                            <p *ngIf="member.executive">exec</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-edit-member class="four columns" [member]="selectedMember"></app-edit-member>