<div class="eight columns">
    <md-card>
        <md-toolbar color="primary">
            <span>Members</span>
            <span class="fill-width"></span>
            <button md-button (click)="add()">+ Add Member</button>
        </md-toolbar>
        <br>
        <md-card-content>
            <div style="overflow:scroll;">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>
                                First
                            </th>
                            <th>
                                Last
                            </th>
                            <th>
                                Uni
                            </th>
                            <th>
                                StudentID
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Exec
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover" *ngFor="let member of members | async" (click)="select(member)">
                            <td>
                                {{member.firstname}}
                            </td>
                            <td>
                                {{member.lastname}}
                            </td>
                            <td>
                                {{member.university}}
                            </td>
                            <td>
                                {{member.studentid}}
                            </td>
                            <td>
                                {{member.type}}
                            </td>
                            <td>
                                {{member.email}}
                            </td>
                            <td>
                                {{member.phone}}
                            </td>
                            <td>
                                <md-icon *ngIf="member.executive">person</md-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-card-content>
    </md-card>
</div>
<app-edit-member class="four columns" [member]="selectedMember"></app-edit-member>