<div>
    <div color="primary">Edit Payment</div>
    <br>
    <div>
        <form *ngIf="model" #paymentForm="ngForm" (ngSubmit)="onSubmit()">
            <h6 *ngIf="model.$key">Payment from {{(payment.memberObject | async)?.firstname}} {{(payment.memberObject | async)?.lastname}}</h6>
            <h6>Reciept ID: {{payment.$key}}</h6>
            <h6 *ngIf="!model.$key">New Payment...</h6>
            <button  color="primary" type="button" routerLink="/executive" routerLinkActive="active" disabled>Send Reciept (not implemented)</button>
            <input type="number" step="any" class="full-width" name="amount" placeholder="Amount" required [(ngModel)]="model.amount"
                #amount="ngModel" [disabled]="submitted">
                <span md-prefix>$&nbsp;</span>
            <input type="text" class="full-width" name="Bank Reference" placeholder="Bank Reference" required [(ngModel)]="model.bankreference" #bankreference="ngModel"
                [disabled]="submitted">
            <input type="text" class="full-width" name="type" placeholder="Type" required [(ngModel)]="model.type" #type="ngModel"
                [disabled]="submitted">
            <input type="date" class="full-width" name="date" placeholder="Date" required [(ngModel)]="model.date" #phone="ngModel"
                [disabled]="submitted">

            <button  color="primary" type="submit" [disabled]="paymentForm.form.pristine || !paymentForm.form.valid">Save</button>
            <button  color="accent" type="button" (click)="discard()" [disabled]="paymentForm.form.pristine">Discard Changes</button>
        </form>
        <span *ngIf="!model">Please Select a Payment or Click Add</span>
    </div>
</div>