<div class="container">
    <div class="row">
        <h5>Edit Payment</h5>
    </div>
    <div class="row">
        <form *ngIf="model" #paymentForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="input-field col s8">
                <h6 *ngIf="model.$key">Payment from {{(payment.memberObject | async)?.firstname}} {{(payment.memberObject | async)?.lastname}}</h6>
                <h6>Reciept ID: {{payment.$key}}</h6>
                <h6 *ngIf="!model.$key">New Payment...</h6>
            </div>

            <div class="input-field col s4 right-align">
                <button class="btn waves-effect waves-light purple" type="button" disabled>Send Reciept (not implemented)</button>
            </div>

            <div class="input-field col s12">
                <input type="number" step="any" name="amount" required [(ngModel)]="model.amount" #amount="ngModel" [disabled]="submitted">
                <label [class.active]="model.amount" for="amount">Amount</label>
            </div>

            <div class="input-field col s12">
                <input type="text" name="bankreference" required [(ngModel)]="model.bankreference" #bankreference="ngModel" [disabled]="submitted">
                <label [class.active]="model.bankreference" for="bankreference">Bank Reference</label>
            </div>

            <div class="input-field col s12">
                <input type="text" name="type" required [(ngModel)]="model.type" #type="ngModel" [disabled]="submitted">
                <label [class.active]="model.type" for="type">Type</label>
            </div>

            <div class="input-field col s12">
                <input type="date" name="date" required [(ngModel)]="model.date" #phone="ngModel" [disabled]="submitted">
                <label [class.active]="model.date" for="date">Date</label>
            </div>

            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="button" (click)="discard()" [disabled]="paymentForm.form.pristine">Discard Changes</button>
            </div>

            <div class="input-field col s6 right-align">
                <button class="btn waves-effect waves-light" type="submit" [disabled]="paymentForm.form.pristine || !paymentForm.form.valid">Save</button>
            </div>

        </form>
    </div>
</div>